<md-toolbar color="primary">
  Manage Organizations
</md-toolbar>
<md-sidenav-layout>

  <md-sidenav class="create-organization-sidenav" align="end" #createOrganization>


      <form novalidate [formGroup]="organizationForm" class="organizationForm">
        <h2> Details for new Organization </h2>
        <div>
          <label>Name: </label>
          <input formControlName="name" placeholder="Organization name">
        </div>

        <div>
        <label>unique ID: </label>
          <input formControlName="id" placeholder="Organization Location">
        </div>

        <div>
          <label>Head: </label>
          <input formControlName="head" placeholder="Org Head">
        </div>
        <!--List of contacts -->
        <div formArrayName="contacts">
          <div *ngFor="let contact of organizationForm.controls.contacts.controls; let i=index" class="panel panel-default">

            <div class="panel-heading">
              <span> contact {{i+1}} </span>
              <a class="pull-right" *ngIf="organizationForm.controls.contacts.controls.length > 1" style="cursor: pointer"
                (click)="removeContact(i)">
                remove -
              </a>
          </div>
          <!--the Array index is the formgroup nae by default -->
          <div [formGroupName]="i">
            <div>
              <label> contact name</label>
              <input type="text" formControlName="contactName">
              <small [hidden]="organizationForm.controls.contacts.controls[i].controls.contactName.valid">
                Contact name is required
              </small>
            </div>
            <div>
              <label> contact email</label>
              <input type="text" formControlName="contactEmail">
            </div>
      </div>
    </div>
  </div>
  <!-- We can add up to 4 contacts for a given organization -->
  <div class="margin-20">
    <a (click)="addContact()" style="cursor: pointer" *ngIf="organizationForm.controls.contacts.controls.length < 4">
      add another contact +
    </a>
  </div>

        <span>
          <button [disabled]="!organizationForm.valid" (click)="save(organizationForm.value); createOrganization.close()" class="btn btn-success btn-xs">Create Organization</button>
        </span>

        <span>
          <button (click)="createOrganization.close()" class="btn btn-warning btn-xs">cancel</button>
        </span>
      </form>

      {{ organizationForm.status }} {{ organizationForm.valid }}
  </md-sidenav>

<!--Organization details implemented in a different component and shared via @Input binding -->
  <md-sidenav class="organization-details-sidenav" align="start" #organizationDetailsSidenav>
    <organization-details [details]="currentOrganization"> </organization-details>
    <button class="btn btn-success btn-xs" (click)="organizationDetailsSidenav.close()" >Hide details</button>
  </md-sidenav>

<!--Organization list table -->
<span id="date_and_time">date and time</span>

  <table class="table table-hover taable-striped table-bordered">
    <thead>
      <th> Organization name</th>
      <th> Organization ID</th>
      <th> Head name</th>
    </thead>

    <tr *ngFor="let o of organizations">
      <td>
        <button (click)=" organizationDetailsSidenav.open(); showDetails(o)">info</button>
        {{o.name}} </td>
      <td>{{o.id}} </td>
      <td>{{o.head}} </td>
    </tr>
  </table>
  <button (click)="createOrganization.open()">Create Organization</button>
<br><br>

Test to be deleted
<br>
<span onmouseover="this.style.color='red'">Mouse over me!</span>

<div class="activate" (mousedown)="moDown()" (mouseup)="mUp()">{{active_text}}</div>

<div class="navj">
Mouse Over 11</div>


<div class="mainDiv">
Mouse Over 3</div>

<div class="myDiv">
Mouse Over</div>

<div class="myDiv">
Mouse Over 2</div>

<div class="myDiv">
Mouse Over 3</div>


</md-sidenav-layout>





<div id="rcontainer">
  <div id="logo"><img src="images/logo.png" alt="Logo here"> </div>
  <nav>
      <ul>
        <li>History</li>
        <li>about</li>
        <li>contact</li>
        <li>portfolio</li>
      </ul>
  </nav>

  <header><img src="images/header.jpg"></header>

  <ul id="cols">
      <li>
        <img src="images/pine-apple.jpg"/>
        <h2> Column 1 </h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </li>
      <li>
        <img src="images/pine-apple.jpg"/>
        <h2> Column 2 </h2>
        <p>
          but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </li>
      <li>
        <img src="images/pine-apple.jpg"/>
        <h2> Column 3 </h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </li>
      <li>
        <img src="images/pine-apple.jpg"/>
        <h2> Column 4 </h2>
        <p>
          but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
          but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
          but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </li>
  </ul>

  <footer>
    <div id="footerleft">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>

    <div id="footerright">
      <img src="images/footer.jpg"/>
    </div>
  </footer>
</div>
