html, body {
    background-color: lightblue;
}

html, body { height: 100%; }

.nav-bar {
  background-color: #666;
  height: 45px;
  width: 100%;
  border-bottom: 2px solid #fc0;
}

.header_content1 {
  display: inline-block;
  margin-left: 50px;
  border-right: 1px dotted #444;
  width: 175px;
  height: 98%;
  color:#ccc;
  font: 90% "FreeSans", Arial, Helvetica, sans-serif;
  padding: 5px;
}

.header_content {
  display: inline-block;
  margin-left: 5px;
  border-right: 1px dotted #444;
  height: 98%;
  color:#ccc;
  font: 90% "FreeSans", Arial, Helvetica, sans-serif;
  padding: 5px 20px 5px 5px;
}

.dropdown-btn {
  min-width: 100px;
}

.button-link {
	background-color: transparent;
	border: none;
	color: green;
	cursor: pointer;
}

.arm-container {
  margin-left: 20px;
  margin-right: 20px;
}

.dropdown {
  float:right;
  position:relative;
  display:block;
}

#dropdown-menu .dropdown-content2 a {
  text-align: left;
  text-decoration-color:red;
}

ul {
  list-style-type:none;
}

#dropdown-menu .dropdown-content {
  float:none;
  z-index:100;
  position:absolute;
  width: 100%;
  overflow: hidden;
  display: block;
  height: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  cursor: pointer;
}

#dropdown-menu .item a:hover,#dropdown-menu .category a:hover,#dropdown-menu .item a:focus,#dropdown-menu .category a:focus{
  text-decoration:none;
  -webkit-transition:all 0;
  -moz-transition:all 0;
  background:#d9d2d2;
}

#dropdown-menu .selected a{background:#d4d2d2!important;}


#dropdown-menu li.top_level {
  vertical-align: top;
  zoom:1;
  float:right;
  width: auto;
  position:relative;
  display: block;
}

#dropdown-menu:hover .dropdown-content {
  -webkit-transition:height 940ms;
  -moz-transition:height 940ms;
  height:auto;
}

.dropdown-btn {
  position:relative;
  display:block;
}

.dropdown-content {
  display:none;
  position:absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  z-index: 10;
}



.dropdown-content a {
  display: block;
  border-radius: 0px;
  width:100%;
}

.container-fluid {
	height: 100%;
	background-color: lightblue;
}
.contain {
	height: 100%;
	background-color: lightblue;
  color: red;
}

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}


nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.users li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.users li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.users .text {
  position: relative;
  top: -3px;
}
.users .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
