
<nav *ngIf="authService.isLoggedIn">

<a routerLink="/assets" routerLinkActive="active">Assets</a>
<a routerLink="/locations" routerLinkActive="active">Locations</a>
<a routerLink="/organizations" routerLinkActive="active">Organizations</a>
<a routerLink="/users" routerLinkActive="active">Users</a>
<a routerLink="/home" routerLinkActive="active">Stats</a>

<span id="dropdown-menu">

<li class="category top_level">

<a routerLink="/home" routerLinkActive="active" class="dropdown-btn">User first Name</a>
<div class="dropdown-content">
  <a href="#">Settings test</a>
  <a href="#">Logout</a>
</div>

</li>

</span>

</nav>



<router-outlet></router-outlet>
