<div class="nav-bar" *ngIf="authService.isLoggedIn">
  <div class="header_content1">
    <div>
      <label>Date:</label>
      <span id="date_"></span>
    </div>
    <div>
      <label>Time:</label>
      <span id="time_"></span>
    </div>
  </div>

  <div class="header_content2">
    <div>
      <label>User:</label>
      <span id="use">Pascal Tene</span>
    </div>
    <div>
      <label>Role:</label>
      <span id="rol">Risk Manager</span>
    </div>
  </div>

  <div class="header_content3">
    <div>
      <label>System name:</label>
      <span id="sys">Asset and Risk Manager (ARM)</span>
    </div>
    <div>
      <label>IP Address:</label>
      <span id="ipa">10.20.0.45</span>
    </div>
  </div>

</div>


<div class="arm-container">
<nav *ngIf="authService.isLoggedIn">

<a routerLink="/assets" routerLinkActive="active">Assets</a>
<a routerLink="/locations" routerLinkActive="active">Locations</a>
<a routerLink="/organizations" routerLinkActive="active">Organizations</a>
<a routerLink="/users" routerLinkActive="active">Users</a>
<a routerLink="/home" routerLinkActive="active">Stats</a>

<span id="dropdown-menu">

<li class="category top_level">

<a routerLink="/home" routerLinkActive="active" class="dropdown-btn">User first Name</a>
<div class="dropdown-content">
  <a href="#">Settings test</a>
  <a href="#">Logout</a>
</div>

</li>

</span>
</nav>

<router-outlet></router-outlet>
</div>
