<md-toolbar color="primary">
  Manage Organizations
</md-toolbar>
<md-sidenav-layout>

  <md-sidenav class="create-organization-sidenav" align="end" #createOrganization>


      <form novalidate [formGroup]="organizationForm" class="organizationForm">
        <h2> Details for new Organization </h2>
        <div>
          <label>Name: </label>
          <input formControlName="name" placeholder="Organization name">
        </div>

        <div>
        <label>unique ID: </label>
          <input formControlName="id" placeholder="Organization Location">
        </div>

        <div>
          <label>Head: </label>
          <input formControlName="head" placeholder="Org Head">
        </div>
        <!--List of contacts -->
        <div formArrayName="contacts">
          <div *ngFor="let contact of organizationForm.controls.contacts.controls; let i=index" class="panel panel-default">

            <div class="panel-heading">
              <span> contact {{i+1}} </span>
              <a class="pull-right" *ngIf="organizationForm.controls.contacts.controls.length > 1" style="cursor: pointer"
                (click)="removeContact(i)">
                remove -
              </a>
          </div>
          <!--the Array index is the formgroup name by default

        -->
          <div [formGroupName]="i">
            <div>
              <label> contact name</label>
              <select formControlName="user" class="form-control" placeholder="Select a contact" name="user" id="user" (ngModelChange)="onChangeUser($event, organizationForm.controls.contacts.controls[i].controls.user.value.email)">
                <option *ngFor="let user of contactList"  [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
              </select>
              <small [hidden]="organizationForm.controls.contacts.controls[i].controls.user.valid">
                Contact name is required
              </small>
              <small class="formError" *ngIf="organizationForm.controls.contacts.controls[i].controls.user.value.firstName==='Select a new contact' && formSubmitted" >
                Contact name is required
              </small>
              {{organizationForm.controls.contacts.controls[i].controls.user.value.firstName !=='Select a new contact'}}
            </div>
            <div>
              <label> contact email</label>
              <input type="text" formControlName="contactEmail" [value]= "organizationForm.controls.contacts.controls[i].controls.user.value.email || ' ' " readonly>

            </div>
      </div>
    </div>
  </div>
  <!-- We can add up to 4 contacts for a given organization -->
  <div class="margin-20">
    <a (click)="addContact()" style="cursor: pointer" *ngIf="organizationForm.controls.contacts.controls.length < 4">
      add another contact +
    </a>
  </div>

        <span>
          <button [disabled]="!organizationForm.valid" (click)="save(organizationForm.value); createOrganization.close()" class="btn btn-success btn-xs">Create Organization</button>
        </span>

        <span>
          <button (click)="createOrganization.close()" class="btn btn-warning btn-xs">cancel</button>
        </span>
      </form>

      {{ organizationForm.status }} {{ organizationForm.valid }}
      <br> {{organizationForm.value | json }}
  </md-sidenav>

<!--Organization details implemented in a different component and shared via @Input binding -->
  <md-sidenav class="organization-details-sidenav" align="start" #organizationDetailsSidenav>
    <organization-details [details]="currentOrganization"> </organization-details>
    <button class="btn btn-success btn-xs" (click)="organizationDetailsSidenav.close()" >Hide details</button>
  </md-sidenav>

<!--Organization list table -->
<span id="date_and_time">date and time</span>

  <table class="table table-hover taable-striped table-bordered">
    <thead>
      <th> Organization name</th>
      <th> Organization ID</th>
      <th> Head name</th>
      <th> Contacts</th>
    </thead>

    <tr *ngFor="let o of organizations">
      <td>
        <button (click)=" organizationDetailsSidenav.open(); showDetails(o)">info</button>
        {{o.name}} </td>
      <td>{{o.id}} </td>
      <td>{{o.head}} </td>
      <td><span *ngFor="let contact of o.contacts; let i=index;">{{contact.user.firstName}} {{contact.user.lastName}}{{i === o.contacts.length -1 ? '': ', '}} </span> </td>
    </tr>
  </table>
  <button (click)="createOrganization.open()">Create Organization</button>

</md-sidenav-layout>
