.organizationForm {
  margin: 20px;
  border: 1px solid #dddddd;
  padding-left:10px;
  padding-bottom: 10px;
}

.organization-details-sidenav {
  width: 35%;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid #fc0;
}

.margin-20 {
  margin: 20px;
}

.icon-20 {
  font-size: 20px;
}

.create-organization-sidenav {
  width: 70%;
}

.panel {
  width: 50%;
}

label {
  float: left;
  width: 150px;
  margin-left: 10px;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #dddddd;
}

input {
  width: 250px;
  margin:5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  height: 40px;
}

select {
  width: 250px;
  margin:5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  height: 40px;
}

select:hover {
  border: 1px solid rgba(158,158,158,0.9); /*shades of gray */
}

input:focus {
  border: 1px solid rgba(0, 0, 255, 0.5); /*shades of blue */
}

input:hover {
  border: 1px solid rgba(158,158,158,0.9);
}

.formError {
  color:red;
  margin-left: 200px;
}

.form-control {
  width: 210px;
}

button {
  margin-left: 10px;
}
