.organizationForm {
  margin: 20px;
}

.create-organization-sidenav {
  width: 70%;
}

.panel {
  width: 50%;
}

label {
  float: left;
  width: 150px;
  margin-left: 10px;
}

input {
  width: 210px;
  margin:5px;
  border-radius: 4px;
  height: 35px;
}

input:focus {
  border: 1px solid #fc0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.6);
}

input:hover {
  border: 1px solid rgba(158,158,158,0.9);
}

.formError {
  color:red;
  margin-left: 200px;
}

.form-control {
  width: 210px;
}

button {
  margin-left: 10px;
}
