<md-toolbar color="primary">
  Manage Organizations
</md-toolbar>
<md-sidenav-layout>

  <md-sidenav class="create-organization-sidenav" align="end" #createOrganization>


      <form novalidate [formGroup]="organizationForm" class="organizationForm">
        <h2> Details for new Organization </h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            Organization details
          </div>
        <div>
          <label>Name: </label>
          <input formControlName="name" placeholder="Organization name" class="form-input">
        </div>
        <div class="formError" *ngIf="!organizationForm.controls.name.valid && formSubmitted" >
          Organization name is required
        </div>

        <div>
        <label>unique ID: </label>
          <input type="text" formControlName="id" placeholder="Organization Id">
        </div>
        <div class="formError" *ngIf="!organizationForm.controls.id.valid && formSubmitted" >
          Unique Id is required
        </div>

        <div>
          <label>Head: </label>

          <select formControlName="head" placeholder="Select a user">
              <option *ngFor="let user of userList" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
          </select>
        </div>
      </div>

        <!--List of contacts -->
        <div formArrayName="contacts">
          <div *ngFor="let contact of organizationForm.controls.contacts.controls; let i=index" class="panel panel-default">

            <div class="panel-heading">
              <span> contact {{i+1}} </span>
              <a class="pull-right" *ngIf="organizationForm.controls.contacts.controls.length > 1" style="cursor: pointer"
                (click)="removeContact(i)">
                remove -
              </a>
          </div>
          <!--the Array index is the formgroup name by default

        -->
          <div [formGroupName]="i">
            <div>
              <label> contact name</label>
              <select formControlName="user" placeholder="Select a contact" name="user" id="user" (ngModelChange)="onChangeUser($event, organizationForm.controls.contacts.controls[i].controls.user.value.email)">
                <option *ngFor="let user of userList"  [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
              </select>
              <div class="formError" *ngIf="organizationForm.controls.contacts.controls[i].controls.user.value.firstName==='Select...' && formSubmitted" >
                Contact name is required
              </div>
            </div>
            <div>
              <label> contact email</label>
              <input type="text" formControlName="contactEmail" [value]= "organizationForm.controls.contacts.controls[i].controls.user.value.email || ' ' " readonly>

            </div>
      </div>
    </div>
  </div>
  <!-- We can add up to 4 contacts for a given organization -->
  <div class="margin-20">
    <a (click)="addContact()" style="cursor: pointer" *ngIf="organizationForm.controls.contacts.controls.length < 4">
            add another contact +
    </a>

  </div>
        <span>
          <button (click)="create(organizationForm.value, organizationForm.valid)" class="btn btn-success btn-xs">Create Organization</button>
        </span>

        <span>
          <button (click)="createOrganization.close()" class="btn btn-warning btn-xs">cancel</button>
        </span>
      </form>
  </md-sidenav>

<!--Organization details implemented in a different component and shared via @Input binding -->
  <md-sidenav class="organization-details-sidenav" align="start" #organizationDetailsSidenav>
    <organization-details [details]="currentOrganization"> </organization-details>
    <button class="btn btn-success btn-xs" (click)="organizationDetailsSidenav.close()" >Hide details</button>
  </md-sidenav>

<!--Organization list table -->
  <table class="table table-hover taable-striped table-bordered">
    <thead>
      <th> Organization name</th>
      <th> Organization ID</th>
      <th> Head name</th>
      <th> Contacts</th>
      <th> </th>
    </thead>

    <tr *ngFor="let o of organizations; let i=index">
      <td on-mouseover="mouseIn=i">
        <button [hidden]="!(mouseIn === i)" md-icon-button (click)=" organizationDetailsSidenav.open(); showDetails(o)">
          <md-icon class="icon-20">info</md-icon>
        </button>
        {{o.name}}
      </td>
      <td on-mouseover="mouseIn=i">{{o.id}} </td>
      <td on-mouseover="mouseIn=i">{{o.head.firstName==="Select..." ? '': o.head.firstName}} {{o.head.lastName}} </td>
      <td on-mouseover="mouseIn=i"><span *ngFor="let contact of o.contacts; let i=index;">{{contact.firstName}} {{contact.lastName}}{{i === o.contacts.length -1 ? '': ', '}} </span> </td>
      <td on-mouseover="mouseIn=i">
        <button [hidden]="!(mouseIn === i)" md-icon-button (click)="openConfirmDeleteDialog(ConfirmDeleteDialog, o)">
          <md-icon class="icon-20">delete</md-icon>
        </button>

      </td>
    </tr>
  </table>
  <button (click)="createOrganization.open()">Create Organization</button>

</md-sidenav-layout>
