
<md-toolbar color="primary">
    Manage  Locations
    <span class="move-right"></span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="openDialog(SettingsDialog)">Settings</button>
    <button md-menu-item>Toggle theme</button>
    <button md-menu-item (click)="confirmLogout()">Help</button>
</md-menu>

<md-sidenav-layout>

    <md-sidenav class="createLocation" align="end" mode="side" #createLocationSidenav>
        <div class="container">
            <h2>Enter Details for new Location</h2>

            <form>
            <table class="table table-hover">
                <thead>
                    <th width="18%"> </th>
                    <th width="20%"> </th>
                    <th> </th>
                </thead>

                <tr>
                    <td>
                        <label>Location Name:</label>
                    </td>
                    <td>
                        <input [(ngModel)]="newLocation.name" class="form-control" placeholder="Location Name" id="name" name="name" #name="ngModel" required>
                        <div *ngIf="!(name.valid || name.pristine)" class="text-danger">
                        Location name is required
                        </div>
                    </td>
                    <td>
                        {{newLocation.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>City:</label>
                    </td>
                    <td>
                        <input [(ngModel)]="newLocation.city" class="form-control" name="city" placeholder="City">
                    </td>
                    <td class="error">
                        {{newLocation.city}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>State:</label>
                    </td>
                    <td>
                        <input [(ngModel)]="newLocation.state" class="form-control" name="state" placeholder="State">
                    </td>
                    <td>
                        {{newLocation.state}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Country:</label>
                    </td>
                    <td>
                        <input [(ngModel)]="newLocation.country" class="form-control" name="country" placeholder="Country">
                    </td>
                    <td>
                        {{newLocation.country}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>contact:</label>
                    </td>
                    <td>
                        <select [(ngModel)]="newLocation.contacts" class="form-control" name="contacts" id="contacts" >
                          <option *ngFor="let user of users" [value]="[user._id]">{{user.firstName}} {{user.lastName}}</option>
                        </select>
                    </td>
                    <td>
                        {{newLocation.contacts}}
                    </td>
                </tr>


            </table>
          </form>

            <div class="col-md-4">
                <button (click)="createLocationSidenav.close(); resetView()" class="btn btn-warning btn-xs">Cancel</button>
                <button class="btn btn-success btn-xs" (click)="createLocationSidenav.close(); createLocation(newLocation)">Create location</button>
            </div>
        </div>

    </md-sidenav>




    <md-sidenav align="start" mode="side" #sidenav>
        <md-tab-group>
            <md-tab>
                <template md-tab-label>Details</template>
                <template md-tab-content>
                  <div class="locationDetails">
                  <p> <strong>Name: </strong> {{currentLocation.name}}</p>
                  <p><strong> City: </strong>{{currentLocation.city}}</p>
                  <p> <strong>State: </strong>{{currentLocation.state}}</p>
                  <p> <strong>Country: </strong>{{currentLocation.country}}</p>
                  <button class="btn btn-info btn-sm" (click)="sidenav.close()">Hide details</button>
                </div>
                </template>
            </md-tab>

            <md-tab>
                <template md-tab-label>List</template>
                <template md-tab-content>
            <ul>
                <li *ngFor="let location of locations "> {{location.name}}
                </li>
            </ul>
                <a href="/location/create">Add new Location</a> <br/>
                  <button class="btn btn-info btn-xs" (click)="sidenav.close()">Hide location list</button>
                </template>
            </md-tab>

        </md-tab-group>
    </md-sidenav>

    <table width="100%">
      <tr class="success" *ngIf="isLocationCreated">
        <td>
          <span class="alert alert-success"> New location saved successfully:  {{createdLocationName}}</span>
        <td>
      </tr>
    </table>

<table width="100%">
    <tr class="danger" *ngIf="isLocationNotCreated">
        <td>
          <span class="alert alert-danger"> New location not Created please doube check details for :  {{createdLocationName}}</span>
        <td>
    </tr>
</table>

<!-- Main Location List Table -->

    <table class="table table-striped table-hover table-bordered">

        <thead>
            <th width="30%">Name</th>
            <th>City</th>
            <th>Country</th>
            <th>contacts</th>
        </thead>


        <tr *ngFor="let location of locations ">
            <td>{{location.name}}
            <button md-icon-button (click)="createLocationSidenav.close(); showDetails(location)">
                <md-icon class="icon-20">info</md-icon>
            </button>
            <button md-icon-button (click)="openConfirmDeleteDialog(ConfirmDeleteDialog, location); 'dlocation=location' " >
                <md-icon class="icon-20">delete</md-icon>
            </button>

            </td>
            <td>{{location.city}}</td>
            <td>{{location.country}}</td>
            <td><span *ngFor="let contact of location.contacts "> {{contact.firstName}} {{contact.lastName}}</span> </td>
        </tr>
    </table>
    <button class="btn btn-default btn-sm" (click)="createLocationSidenav.open(); sidenav.close()">Create new location </button>
    <!-- End Location list Table -->
</md-sidenav-layout>
