<md-toolbar color="primary">
  Manage users
  <span class="move-right"></span>
    <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>

<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="openDialog(settingsDialog)">Setings</button>
    <button md-menu-item (click)="openDialog(settingsDialog)">Setings</button>
    <button md-menu-item (click)="openDialog(settingsDialog)">Setings</button>
</md-menu>

<md-sidenav-layout>

    <md-sidenav class="detailsSidenav"  align="start" mode="side" #detailsSidenav>
    </md-sidenav>

  <md-sidenav class="createUserSidenav" align="end" mode="side" #createUserSidenav>
    <div class="container">
        <h2>Enter Details for new user</h2>
        <table class="table table-hover">
          <thead>
            <th width="18%">  </th>
            <th width="20%">  </th>
            <th> </th>
          </thead>
            <tr>
                <td>
                    <label>User Name:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.username" placeholder="User Name">
                </td>
                <td>
                  {{newUser.username}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td>
                    <input type="password" [(ngModel)]="newUser.password" placeholder="password">
                </td>
                <td class="error">
                  {{passwordMissMatch}}
                </td>
            </tr>
            <tr>
              <td>
                <label> Confirm Password: </label>
              </td>

              <td>
                <input type="password" placeholder="Confirm Password" #confirmPassword />
              </td>
              <td class ="error">
                {{passwordMissMatch}}
              </td>
            </tr>
            <tr>
                <td>
                    <label>First Name:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.firstName" placeholder="First Name">
                </td>
                <td>
                  {{newUser.firstName}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Last Name:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.lastName" placeholder="Last Name">
                </td>
                <td>
                  {{newUser.lastName}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.email" placeholder="Email">
                </td>
                <td>
                  {{newUser.email}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Organization:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.organization" placeholder="Organization">
                </td>
                <td>
                  {{newUser.organization}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Location:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.location" placeholder="Location">
                </td>
                <td>
                  {{newUser.location}}
                </td>
            </tr>
              </table>
              <div class="col-md-8">
                <button (click)="save(newUser, confirmPassword.value)" class="btn btn-success btn-xs">Save user</button>
              </div>
              <div class="col-md-4">
                  <button (click)="goBack()" class="btn btn-warning btn-xs">Go Back</button>
              </div>
            </div>
  </md-sidenav>


  <!-- Main User List Table -->
  {{mouseIn}} {{mouseOnButton}}
  <div on-mouseout="mout(); unSetMouseOnButton()">
    <table class="table table-striped table-hover table-bordered" >

        <thead>
            <th width="30%">Name</th>
            <th width="5%"></th>
            <th>City</th>
            <th>Country</th>
            <th width="5%"><th>
        </thead>


        <tr *ngFor="let user of users; let i = index;" on-mouseout="mout();  $event.stopPropagation()" >

            <td  on-mouseover="mover(i); unSetMouseOnButton()" on-mouseout="mout()" >{{user.firstName}}


            </td>

            <td on-mouseover="setMouseOnButton(i)" >
              <span *ngIf="mouseIn === i || mouseOnButton === i"  >
            <button md-icon-button (click)="createUserSidenav.close(); detailsSidenav.open(); showDetails(user)">
                <md-icon class="icon-20">info</md-icon>
            </button>
              </span>

            </td>
            <td on-mouseover="mover(i); unSetMouseOnButton()" on-mouseout="mover(i)">{{user.lastName}}</td>
            <td on-mouseover="mover(i); unSetMouseOnButton()" on-mouseout="mover(i)">{{user.location}}</td>
            <td on-mouseover="setMouseOnButton(i)" >
              <span *ngIf="mouseIn === i || mouseOnButton === i"  >
              <button md-icon-button (click)="openConfirmDeleteDialog(ConfirmDeleteUserComponent, user); 'userToDelete=user'" >
                  <md-icon class="icon-20">delete</md-icon>
              </button>
            </span>
            </td>

        </tr>
    </table>
  </div>
    <button class="btn btn-default btn-sm" (click)="createUserSidenav.open(); detailsSidenav.close()">Create new user</button>
    <!-- End User list Table -->
</md-sidenav-layout>
