<md-toolbar color="primary" style="height:30px;">
    Manage  Users
    <span class="move-right"></span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="openUserHelpDialog(UserHelpComponent)">Help</button>
    <hr>
    <button md-menu-item (click)="logout()">Logout</button>
</md-menu>

<!-- Right sidenav for object creation -->
<md-sidenav-layout>

  <md-sidenav class="createUserSidenav" align="end" mode="side" #createUserSidenav>
    <div class="container">

        <h2>Enter Details for new user</h2>

        <form #userForm="ngForm">
        <table class="table table-hover">
          <thead>
            <th width="18%">  </th>
            <th width="20%">  </th>
            <th> </th>
          </thead>
            <tr>
                <td>
                    <label>User Name:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.username" (keyup)="userNameExist=''" placeholder="User Name" name="username" #username="ngModel" maxlength="14" minlength="3" required>
                </td>
                <td>
                   <span *ngIf="!username.valid && username.dirty" class="text text-danger">Username is required: min 3 characters</span>
                   <span class="text text-danger">{{userNameExist}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td>
                    <input type="password" (keyup)="passwordMissMatch=''" [(ngModel)]="newUser.password" name="password" #password="ngModel" placeholder="password" minlength="6" required>
                </td>
                <td>
                  <span class ="text text-danger">
                  {{passwordMissMatch}}  <span *ngIf="!password.valid && password.dirty" class="text text-danger">Password is required: min 6 characters</span>
                </span>
                </td>
            </tr>
            <tr>
              <td>
                <label> Confirm Password: </label>
              </td>

              <td>
                <input type="password" (keyup)="passwordMissMatch=''" placeholder="Confirm Password" #confirmPassword required>
              </td>
              <td>
                <span class ="text text-danger">
                {{passwordMissMatch}}
              </span>
              </td>
            </tr>
            <tr>
                <td>
                    <label>First Name:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.firstName" name="firstName" #firstName="ngModel" placeholder="First Name" required>
                </td>
                <td>
                  <span *ngIf="!firstName.valid && firstName.dirty" class="text text-danger">First Name is required</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Last Name:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.lastName" name="lastName" #lastName="ngModel" placeholder="Last Name">
                </td>
                <td>
                  {{newUser.lastName}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.email" name="email" #email="ngModel" placeholder="Email">
                </td>
                <td>
                  {{newUser.email}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Organization:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.organization" name="organization" #organization="ngModel" placeholder="Organization">
                </td>
                <td>
                  {{newUser.organization}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Location:</label>
                </td>
                <td>
                    <input [(ngModel)]="newUser.location" name="location" #location="ngModel" placeholder="Location">
                </td>
                <td>
                  {{newUser.location}}
                </td>
            </tr>
              </table>
            </form>
              <div class="col-md-6">
                <button [disabled]="!userForm.valid" (click)="save(newUser, confirmPassword.value)" class="btn btn-success btn-xs">Save user</button>
                <p *ngIf="!userForm.valid">Enter valid data to activate this button</p>
              </div>
              <div class="col-md-4">
                  <button (click)="createUserSidenav.close()" class="btn btn-warning btn-xs">Cancel</button>
              </div>
            </div>
  </md-sidenav>




    <md-sidenav align="start" mode="side" #leftSidenav>
      <h5>Details for user {{currentUser.firstName}} {{currentUser.lastName}} </h5>
      <div class="objectDetails">
          <p> <strong>First Name: </strong> {{currentUser.firstName}}</p>
          <p><strong> Last Name: </strong>{{currentUser.lastName}}</p>
          <p> <strong>UserName: </strong>{{currentUser.username}}</p>
          <p> <strong>Location: </strong><span *ngIf="currentUser.location">{{currentUser.location}}</span></p>
      <button class="btn btn-info btn-sm" (click)="leftSidenav.close()">Hide details</button>
      </div>

        <md-tab-group>
            <md-tab>
                <template md-tab-label>Details</template>
                <template md-tab-content>
                  <div class="objectDetails">
                  <p> <strong>First Name: </strong> {{currentUser.firstName}}</p>
                  <p><strong> Last Name: </strong>{{currentUser.lastName}}</p>
                  <p> <strong>UserName: </strong>{{currentUser.username}}</p>
                  <p> <strong>Location: </strong><span *ngIf="currentUser.location">{{currentUser.location}}</span></p>
                  <button class="btn btn-info btn-sm" (click)="leftSidenav.close()">Hide details</button>
                </div>
                </template>
            </md-tab>


            <md-tab>
                <template md-tab-label>List</template>
                <template md-tab-content>
            <ol>
                <li *ngFor="let user of users "> {{user.firstName}} {{user.lastName}}
                </li>
            </ol>
                  <button class="btn btn-info btn-xs" (click)="leftSidenav.close()">Hide user list</button>
                </template>
            </md-tab>

        </md-tab-group>
    </md-sidenav>

    <table width="100%">
      <tr class="success" *ngIf="isLocationCreated">
        <td>
          <span class="alert alert-success"> New asset saved successfully:  {{createdLocationName}}</span>
        <td>
      </tr>
    </table>

<table width="100%">
    <tr class="danger" *ngIf="isLocationNotCreated">
        <td>
          <span class="alert alert-danger"> New location not Created please doube check details for :  {{createdLocationName}}</span>
        <td>
    </tr>
</table>

<!-- Main Asset List Table -->

    <table class="table table-striped table-hover table-bordered" on-mouseout="mout();">

        <thead>
            <th width="30%">First name</th>
            <th>Last name</th>
            <th>Username</th>
            <th>Location</th>
            <th><th>
        </thead>


        <tr *ngFor="let user of users; let i = index;" on-mouseout="mout()">
            <td on-mouseover="setMouseOnButton(i)">
              <span *ngIf="mouseIn === i || mouseOnButton === i"  >
                  <button md-icon-button (click)="leftSidenav.open(); createUserSidenav.close(); showDetails(user)">
                      <md-icon class="icon-20">info</md-icon>
                  </button>
              </span>
            {{user.firstName}}

            </td>
            <td on-mouseover="mover(i); unSetMouseOnButton()" on-mouseout="mout()">{{user.lastName}}</td>
            <td on-mouseover="mover(i); unSetMouseOnButton()" on-mouseout="mout()">{{user.username}}</td>
            <!-- We should check if fields exists before trying to read their properties-->
            <td on-mouseover="mover(i); unSetMouseOnButton()" on-mouseout="mout()"> <span *ngIf="user.location">{{user.location}}</span> </td>

            <td on-mouseover="setMouseOnButton(i)" >
              <span *ngIf="mouseIn === i || mouseOnButton === i"  >
              <button md-icon-button (click)="openConfirmDeleteDialog(ConfirmDeleteUserComponent, user);" >
                  <md-icon class="icon-20">delete</md-icon>
              </button>
            </span>
            </td>
        </tr>
    </table>
    <button class="btn btn-default btn-sm" (click)="createUserSidenav.open(); leftSidenav.close()">Create new user </button>
    <!-- End Asset list Table -->
</md-sidenav-layout>
