<h5> Organization Details </h5>
<p> <strong> Name: </strong> {{organizationDetails.name}} </p>
<p> <strong> Id: </strong> {{organizationDetails.id}} </p>
<p *ngIf="organizationDetails.head"> <strong> Head: </strong> {{organizationDetails.head.firstName}} {{organizationDetails.head.lastName}}</p>
<p> <strong> Contacts: </strong> <span *ngFor="let contact of organizationDetails.contacts; let i=index"> {{contact.firstName}} {{contact.lastName}} {{i === organizationDetails.contacts.length -1  ? '': ', '}} </span></p>
